@charset "UTF-8";
:root {
  --bg-gray: #e7ebe6;
  --bg-pink: #f9deef;
  --bg-yellow: #f2ed9e;
  --bg-blue: #cbd3e9;
  --bg-brown: #dfccb9;
  --text-gray: #95b4bb;
  --text-pink: #d8a8c6;
  --text-yellow: #c8bf31;
  --text-blue: #a3b6c6;
  --text-brown: #a0958b; }

#header {
  /* 背景のグラデーション */
  /* ヘッダ全体 */ }
  #header::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity var(--animation);
    background: linear-gradient(to bottom, var(--text-pink), rgba(255, 255, 255, 0)); }
  #header.header--white::before {
    opacity: 1; }
  #header .top-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    max-width: none;
    z-index: 10; }
    #header .top-content .logo-text-container .logo-text, #header .top-content .navigation .logo-sp-container .logo-text {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      transition: opacity var(--animation);
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat; }
    #header .top-content .logo-text-container .logo--black, #header .top-content .navigation .logo-sp-container .logo--black {
      background-image: url("/2022spring/images/logos/logo_text.png"); }
    #header .top-content .logo-text-container .logo--white, #header .top-content .navigation .logo-sp-container .logo--white {
      background-image: url("/2022spring/images/logos/logo_text_white.png"); }
    #header .top-content .logo-text-container .logo--disable, #header .top-content .navigation .logo-sp-container .logo--disable {
      opacity: 0; }
  #header .navigation .logo-sp-container {
    display: none; }
  #header nav ul.menu--white {
    color: white; }
  #header nav ul li {
    opacity: 1;
    border-radius: 0%; }
    #header nav ul li a {
      text-transform: none;
      font-weight: 500;
      transition: color var(--animation); }

@media screen and (min-width: 1140px) {
  #header {
    height: 128px;
    /* ヘッダ全体 */ }
    #header .top-content {
      padding: 4px 16px; }
      #header .top-content .logo-text-container {
        position: relative;
        width: 233px;
        height: 40px;
        margin-top: 5px; }
    #header nav ul.menu--white li.active {
      border-bottom-color: white; }
    #header nav ul li {
      border-bottom-width: 3px;
      transition: border-bottom-color var(--animation); }
      #header nav ul li.active {
        border-bottom-color: black; }
      #header nav ul li a {
        font-size: 20px;
        line-height: 20px;
        padding: 9px 12px; } }

@media screen and (max-width: 1139px) {
  #header {
    height: 72px;
    /* ヘッダ全体 */ }
    #header .top-content .logo-text-container, #header .top-content .navigation .logo-sp-container {
      position: absolute;
      top: 16px;
      left: 14px;
      width: 140px;
      height: 24px; }
      #header .top-content .logo-text-container .logo--black, #header .top-content .navigation .logo-sp-container .logo--black {
        display: none; }
    #header .top-content .navigation {
      position: relative;
      width: 100%;
      right: auto;
      z-index: 1; }
      #header .top-content .navigation label.menu {
        position: absolute;
        top: 14px;
        right: 14px;
        width: 30px;
        height: 30px;
        opacity: 1;
        outline-offset: 0; }
        #header .top-content .navigation label.menu img {
          position: absolute; }
          #header .top-content .navigation label.menu img.menu-button {
            top: 0;
            right: -4px;
            width: 30px;
            height: 20px;
            display: block;
            transition: opacity var(--animation); }
            #header .top-content .navigation label.menu img.menu-button.menu--black {
              opacity: 1; }
            #header .top-content .navigation label.menu img.menu-button.menu--white {
              opacity: 0; }
          #header .top-content .navigation label.menu img.close-button {
            top: 0;
            right: 0;
            width: 23px;
            height: 23px;
            display: none; }
      #header .top-content .navigation input[type=checkbox]:checked ~ label img.menu-button {
        display: none; }
      #header .top-content .navigation input[type=checkbox]:checked ~ label img.close-button {
        display: block; }
      #header .top-content .navigation input[type=checkbox]:checked ~ .logo-sp-container {
        display: block; }
      #header .top-content .navigation nav {
        padding-top: 40px;
        padding-bottom: 20px;
        background-color: var(--text-pink) !important;
        color: white;
        text-align: center; }
        #header .top-content .navigation nav ul li.active {
          border-bottom: none; }
          #header .top-content .navigation nav ul li.active a {
            border-bottom-style: solid;
            border-bottom-color: white;
            border-bottom-width: 3px; }
        #header .top-content .navigation nav ul li a {
          font-size: 20px;
          line-height: 32px;
          padding: 9px 16px; }
    #header .top-content body > header .top-content {
      max-width: 100vw;
      width: 100vw; }
  #header.header--white .top-content .navigation label.menu img.menu-button.menu--black {
    opacity: 0; }
  #header.header--white .top-content .navigation label.menu img.menu-button.menu--white {
    opacity: 1; } }

div.title {
  background-color: var(--bg-gray);
  height: 284px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  div.title div.wrapper {
    height: 175px;
    width: 560px;
    background-image: url("/2022spring/images/title/desktop.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    div.title div.wrapper h1 {
      transform: translateY(20px); }
  div.title div.gopher {
    width: 87px;
    height: 131px;
    background-repeat: no-repeat;
    background-image: url("/2022spring/images/title/gopher.png");
    position: absolute;
    transform: translate(165px, 120px); }

@media screen and (max-width: 560px) {
  div.title {
    height: 180px; }
    div.title div.wrapper {
      height: 102px;
      width: 327px;
      background-image: url("/2022spring/images/title/mobile.png"); }
    div.title div.gopher {
      display: none; } }

.staff {
  width: 50%;
  --base-space: calc(var(--space-3) * 2);
  margin-bottom: calc(var(--base-space) * 2);
  padding-left: var(--base-space);
  padding-right: var(--base-space); }
  @media (max-width: 52rem) {
    .staff {
      width: 100%; } }
  @media (min-width: 72rem) {
    .staff {
      width: 33%; } }
  .staff .container {
    height: 100%;
    padding: var(--space-4);
    border: thin solid var(--darken-1);
    box-shadow: var(--space-1) var(--space-1) var(--space-2) var(--darken-2);
    border-radius: var(--space-2);
    display: flex;
    flex-direction: row;
    align-items: center; }
    .staff .container .avatar-container {
      text-align: center; }
      .staff .container .avatar-container .avatar {
        width: 7rem;
        height: auto;
        border-radius: 100%;
        aspect-ratio: 1; }
    .staff .container .info {
      flex-grow: 1;
      text-align: center; }
      .staff .container .info .name {
        margin: var(--space-3);
        font-weight: 600; }
      .staff .container .info .organization {
        margin: var(--space-3);
        font-size: 80%;
        color: var(--darken-3); }
      .staff .container .info .socials {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: var(--space-3);
        padding: 0;
        gap: var(--space-3);
        justify-content: center; }
        .staff .container .info .socials .social-icon {
          width: 1em;
          display: inline-flex; }

main .staffs {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 96rem; }

h1, h2 {
  text-align: center; }

.main-visual {
  width: 100%; }
  .main-visual .content.desktop {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    height: 880px;
    background-image: url("/2022spring/images/home/main-visual/desktop/background.png");
    background-position: center;
    background-size: cover; }
    .main-visual .content.desktop .main-text {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      overflow-x: hidden;
      z-index: 1; }
      .main-visual .content.desktop .main-text img.main {
        position: absolute;
        top: 64px;
        width: 640px;
        height: 760px; }
      .main-visual .content.desktop .main-text img.text {
        position: absolute;
        top: 108px;
        width: 1124px;
        height: 425px; }
    .main-visual .content.desktop img.cloud-bottom {
      position: absolute;
      left: 0;
      top: 753px;
      width: 467px;
      height: 147px; }
  .main-visual .content.mobile {
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: 128vw;
    background-image: url("/2022spring/images/home/main-visual/mobile/main-visual.png");
    background-position: center;
    background-size: cover; }
    .main-visual .content.mobile img.cloud-top {
      position: absolute;
      right: 0;
      top: -40px;
      width: 30vw;
      height: 8.64vw; }
    .main-visual .content.mobile img.cloud-bottom {
      position: absolute;
      left: 0;
      bottom: -35px;
      width: 42vw;
      height: 17.1vw; }

/* desktop */
@media (min-width: 1140px) {
  .main-visual .content.mobile {
    display: none; } }

/* mobile */
@media (max-width: 1139px) {
  .main-visual .content.desktop {
    display: none; } }

.go-to-floor-guide {
  font-size: 24px; }
  .go-to-floor-guide a {
    color: var(--primary);
    text-decoration: underline; }

.ended-notice {
  text-align: center;
  font-size: 24px;
  margin-top: 48px; }

.cherry-blossom-container {
  position: relative;
  height: 880px;
  width: 100%;
  overflow: hidden; }

@media screen and (max-width: 1139px) {
  .cherry-blossom-container {
    position: absolute;
    opacity: 0; } }

.petal {
  position: absolute;
  background-image: url("/2022spring/images/sakura.png");
  animation: animate-petal 10s linear;
  background-size: contain;
  background-repeat: no-repeat; }

@keyframes animate-petal {
  0% {
    top: 0;
    opacity: 0;
    transform: rotate(0deg); }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 100vh;
    transform: rotate(3000deg); } }

.partners .partners-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .partners .partners-container .partners-group {
    padding-top: 36px;
    max-width: 1140px;
    width: 100%; }
    .partners .partners-container .partners-group .fancy-custom {
      height: 24px;
      text-align: center;
      color: var(--base-secondary-text);
      position: relative; }
      .partners .partners-container .partners-group .fancy-custom:before {
        content: "";
        position: absolute;
        height: 6px;
        width: 100%;
        left: 0;
        top: calc(50% - 3px);
        z-index: 1; }
      .partners .partners-container .partners-group .fancy-custom .partner-category {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        z-index: 2; }
        .partners .partners-container .partners-group .fancy-custom .partner-category .category-name {
          font-size: 24px;
          line-height: 24px;
          font-weight: 600;
          background-color: white;
          padding: 0px 40px; }

.partners .partner-platinum .fancy-custom:before {
  background-color: var(--bg-yellow); }

.partners .partner-platinum .partner-category {
  color: var(--text-yellow); }

.partners .partner-gold .fancy-custom:before {
  background-color: var(--bg-pink); }

.partners .partner-gold .partner-category {
  color: var(--text-pink); }

.partners .partner-silver .fancy-custom:before {
  background-color: var(--bg-blue); }

.partners .partner-silver .partner-category {
  color: var(--text-blue); }

.partners .partner-bronze .fancy-custom:before {
  background-color: var(--bg-brown); }

.partners .partner-bronze .partner-category {
  color: var(--text-brown); }

footer .footer-footer {
  align-items: center; }
  footer .footer-footer .gopher-license {
    font-size: smaller; }

div.remo {
  text-align: center; }

div.remo.remo-top {
  display: flex;
  flex-direction: column;
  align-items: center; }
  div.remo.remo-top a.enter-remo-button {
    margin-bottom: 36px;
    display: block;
    padding: 24px 36px;
    background-color: var(--bg-pink);
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px; }
    div.remo.remo-top a.enter-remo-button:hover {
      opacity: 0.8; }

div.remo-description {
  background-color: var(--bg-pink);
  border-radius: 5px;
  padding: 20px;
  max-width: 1500px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  div.remo-description a.open-bingo-button {
    display: block;
    padding: 24px 36px;
    background-color: #ff9cbc;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px; }
    div.remo-description a.open-bingo-button:hover {
      opacity: 0.8; }

@media screen and (max-width: 1500px) {
  div.remo-description {
    margin: 50px; } }

@media screen and (max-width: 560px) {
  div.remo-description {
    margin: 50px 10px; } }

div.remo-track-a {
  background-color: var(--bg-yellow); }

div.remo-track-b {
  background-color: var(--bg-blue); }

div.remo-precaution {
  background-color: var(--bg-gray); }

a.remo {
  cursor: pointer; }

img.remo-thumbnail {
  width: 800px;
  max-width: 100vw; }

img.remo-banner {
  width: 200px;
  max-width: 100vw; }

.page.sessions .talk .detail {
  border-bottom: none; }
  .page.sessions .talk .detail .content {
    min-height: 150px; }
  .page.sessions .talk .detail .sponsor-notice {
    text-align: center; }
  .page.sessions .talk .detail .partners-group ul li {
    margin: 0; }

/* desktop */
@media (min-width: 1140px) {
  body.page main {
    margin-top: 52px; } }
