.go-to-floor-guide {
  font-size: 24px;
  a {
    color: var(--primary);
    text-decoration: underline;
  }
}

.ended-notice {
  text-align: center;
  font-size: 24px;
}

.next-conference {
  text-align: center;
  font-size: 24px;
}
