.partners-group.partner-gold ul li {
  height: var(--partner-platinum-height);
  flex-basis: 320px;
}

.partners-group.partner-silver ul li {
  height: var(--partner-gold-height);
  flex-basis: 200px;
}

.partners-group ul li div.partner {
  pointer-events: none;
}

.partners-group .fancy span {
  text-transform: none;
}

.talk .complexity:before {
    content: "Level : ";
}

.talk .type:after {
    font-weight: 100;
    content: "";
}

.page.speakers .hero .description .talks .talk {
	border: none;
}

.section.sessions ul.talks a .info .tags,
.page.sessions .talk header .tags,
.section.schedule .session>a .session-info .tags,
.page.speakers .hero .description .talks .talk .tags {
    width: 55px;
    text-align: center;
	color: var(--primary-txt);
	background-color: var(--primary);
	padding: var(--space-1);
	border-radius: var(--space-2);
	border-color: var(--primary);
}


.page.speakers .hero .description .talks .talk > h3 {
	font-size: 1.25em;
}

.page.speakers .hero .description .talks .talk > h3:hover, h3:focus {
	text-decoration: underline;
}

.section.schedule .session>a h4 {
    padding-left: var(--space-2);
    padding-right: var(--space-2);
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
}

.section.schedule .session>a .session-info {
    margin: auto 0 0 auto;
    padding: 4px;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    display: grid;
}

.section.schedule .session>a .session-info .tags {
    grid-column:2;
    grid-row:1;
    padding-top: 4px;
}

.section.schedule .session>a .session-info .complexity {
    width: 30px;
    height: 30px;
    grid-column:1;
    grid-row:1;
    padding-top: 5px;
}

.section.schedule .session>a .session-info .complexity > svg {
    width: 30px;
    height: 30px;
}

.section.schedule .session.inner{
    background-color: #ffffff;
    transform: scale(0.9,0.9);
}

.section.schedule .session>a .speakers {
    background-color: rgba(255, 255, 255, 0);
}

.section.schedule .session>a .partner-img {
    display: block;
    height: 100%;
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-origin: content-box;
    margin: 0 auto;
    text-indent:-9999px;
}

.section.schedule .session>a.officehour .partner-img {
    margin: 0.5rem auto;
}

.section.schedule main>section.schedule .day .room.odd {
    background-color: var(--color-hero);
}

.session.format-organize {
    background-color: #b5e3ef;
}

.session.format-organize h4 {
    text-shadow: 2px 1px 1px #fff;
    color: var(--base-text);
    font-size: 1.5rem;
    margin: auto;
}

.session.allroom {
    grid-column: 2/-1 !important;
    z-index: 1 !important;
}

.session.behind h4 {
    margin: 0 auto;
    padding-top: 10px !important;
}

.slot {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.slot .slot-start {
    grid-row: 1;
    font-size: 1em;
    position: unset;
}

.slot .slot-end {
    grid-row: 2;
    margin-top:auto;
}

.section.schedule main>section.schedule .day .slot {
    background-color: transparent;
}

@media (max-width: 59.99em) {
    .section.schedule main>section.schedule .day .slot {
        display: none !important;
    }
}

@media screen and (max-width:640px) {
    .section.schedule .session>a .partner-img {
        width:auto;
        height:auto;
        text-indent:0;
        background-image:none !important;
        margin-left: 1rem;
    }

    .slot .slot-start {
        display: none;
    }
    
    .slot .slot-end {
        display: none;
    }

    .section.schedule .session.inner{
        transform: scale(1.0,1.0);
    }
}

.bio a, a:visited {
    color: inherit;
    text-decoration: underline;
}

.cfp {
    padding: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cfp-box {
    margin: var(--space-4);
    padding: 2rem var(--space-3);
    border: thin solid var(--darken-1);
    box-shadow: var(--space-1) var(--space-1) var(--space-2) var(--darken-2);
}

.cfp .btn {
    margin: var(--space-4);
}