div.remo {
    margin-bottom: 50px;
    text-align: center;
}

a.remo {
    cursor: pointer;
}

img.remo-thumbnail {
    width: 800px;
    max-width: 100vw;
}

img.remo-banner {
    width: 200px;
    max-width: 100vw;
}