.cherry-blossom-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.petal {
  position: absolute;
  background-image: url('/2022spring/images/sakura.png');
  animation: animate-petal 10s linear;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes animate-petal {
  0% {
    top: 0;
    opacity: 0;
    transform: rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
    transform: rotate(3000deg);
  }
}
