.page.sessions {
  .talk {
    .detail {
      border-bottom: none;

      .content {
        min-height: 150px;
      }
      .sponsor-notice {
        text-align: center;
      }
      .partners-group ul li {
        margin: 0;
      }
    }
  }
}
