// Go Conference 2022 Spring 用のカラーパレット
:root {
  --bg-gray: #e7ebe6;
  --bg-pink: #f9deef;
  --bg-yellow: #f2ed9e;
  --bg-blue: #cbd3e9;
  --bg-brown: #dfccb9;

  --text-gray: #95b4bb;
  --text-pink: #d8a8c6;
  --text-yellow: #c8bf31;
  --text-blue: #a3b6c6;
  --text-brown: #a0958b;
}
