{{- if eq .Params.category "platinum" -}}
<a class="partner"
   href="{{ .URL }}"
   title="{{ .Title }}"
   style="background-image: url({{ .Site.BaseURL }}{{ .Params.logo }});">{{ .Title }}</a>
{{- else if eq .Params.category "gold" -}}
<a class="partner"
   href="{{ .URL }}"
   title="{{ .Title }}"
   style="background-image: url({{ .Site.BaseURL }}{{ .Params.logo }});">{{ .Title }}</a>
{{- else -}}
<div class="partner"
   title="{{ .Title }}"
   style="background-image: url({{ .Site.BaseURL }}{{ .Params.logo }});">{{ .Title }}</a>
{{- end -}}