<div class="ticket" {{ if .Get "soldOut" }}aria-disabled="true"{{ end }}>
<div class="ticket-name">{{ .Get "name"}}</div>
<div class="ticket-price">{{ .Get "price" }}</div>
<div class="ticket-date">
{{- $starts := time (.Get "starts") -}}
{{- $ends := time (.Get "ends") -}}
{{- $starts.Day -}}&nbsp;{{- dateFormat "Jan." $starts -}}&nbsp;{{- $starts.Year -}}
&nbsp;&hyphen;&nbsp;
{{- $ends.Day -}}&nbsp;{{- dateFormat "Jan." $ends -}}&nbsp;{{- $ends.Year -}}
</div>
<div class="ticket-info">{{ .Get "info" }}</div>

{{- if .Get "soldOut" }}
<span class="btn" aria-disabled="true">{{ i18n "home_tickets_soldout" }}</span>
{{ else if .Get "close" }}
<span class="btn" aria-disabled="true">{{ i18n "home_tickets_close" }}</span>
{{ else }}
<a href="{{ .Get "url" }} "class="btn primary" rel="noreferrer" target="_blank">
{{- partial "icon.html" "ticket" -}}
{{- i18n "home_tickets_action" -}}
</a>
{{ end -}}
</div>
